.app-side-bar-content {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;

  .title {
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-item {
    display: flex;
    column-gap: 12px;
    font-size: 14px;
    border-radius: 6px;
    background-color: #ffffff00;
    cursor: pointer;
    padding: 6px 12px;
    transition: background-color 0.2s;
    color: #434d5b;
    &:hover {
      background-color: #f3f6f9;
      color: #0b0d0e;
    }
    &.active {
      background-color: #007fff1f;
      color: #0072e5;
    }
  }
}
