@import url('react-toastify/dist/ReactToastify.css');
@import url('@fontsource/inter');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.required:after {
  content: ' *';
  color: rgba(var(--joy-palette-danger-mainChannel) / 1);
}

@keyframes bounce2 {
  0%,
  20%,
  53%,
  80%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0);
  }
  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -3px, 0);
  }
  90% {
    transform: translate3d(0, -1px, 0);
  }
}

.bounce2 {
  animation: bounce2 0.9s infinite linear;
  transform-origin: center bottom;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  20%,
  80% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(-5px);
  }
}

.bounce {
  animation: bounce 0.8s infinite linear;
}
